# app #
/app/node_modules
/app/test
app/package-lock.json
/app/config.json

# IntelliJ # 
.idea

# Testing folder #
test/*

# Visual Studio Code #
.settings/*
.project

# modules # 
node_modules
package-lock.json

# docs # 
public