@require './code'
@require './custom-blocks'
@require './arrow'
@require './wrapper'
@require './toc'
@require './sidebar'
@require './hero'
@require '~vuepress-plugin-tabs/dist/themes/default.styl'

html, body
  padding 0
  margin 0
  background-color $bg-color

body
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  color $textColor

//.page
//  padding-left $sidebarWidth

.content:not(.custom)
  @extend $wrapper
  > *:first-child
    margin-top $navbarHeight
p.demo
  padding 1rem 1.5rem
  border 1px solid #ddd
  border-radius 4px
img
  max-width 100%

.content.custom
  padding 0
  margin 0
  img
    max-width 100%

a
  font-weight 500
  //color $urlColor !important
  text-decoration none

p a code
  font-weight 400
  color $accentColor



kbd
  background #eee
  border solid 0.15rem #ddd
  border-bottom solid 0.25rem #ddd
  border-radius 0.15rem
  padding 0 0.15em

blockquote
  font-size 16px
  color $textColor
  border-left: 0.25rem solid #00caca;
  margin 0.5rem 0
  padding .25rem 0 .25rem 1rem
  background-color desaturate(lighten($bg-color, 5%), 30%)
  & > p
    margin 0

ul, ol
  padding-left 1.2em

strong
  font-weight 600

h1, h2, h3, h4, h5, h6
  font-weight 600
  line-height 1.25
  .content:not(.custom) > &
    margin-top (0.5rem - $navbarHeight)
    padding-top ($navbarHeight + 1rem)
    margin-bottom 0
    &:first-child
      margin-top -1.5rem
      margin-bottom 1rem
      + p, + pre, + .custom-block
        margin-top 2rem
  &:hover .header-anchor
    opacity: 1

h1
  font-size 2.2rem

h2
  font-size 1.65rem
  padding-bottom .3rem
  border-bottom 1px solid $borderColor

h3
  font-size 1.35rem

img
  user-select: none
  &[alt='avatar']
    max-width: 70px !important
    border-radius: 100%
    float: left
    margin-right: 30px
    margin-top: 15px

  &[alt='logo']
    max-width: 275px !important
    margin-left: 0

a.header-anchor
  font-size 0.85em
  float left
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0.125em
  opacity 0
  &:hover
    text-decoration none

code, kbd, .line-number
  font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

p, ul, ol
  line-height 1.7

/*
hr
  border 0
  border-top 1px solid $borderColor
  border-image url("https://cdn.discordapp.com/attachments/396964573007052800/547342790904774671/Loading.gif") 100% 0 0 0;
*/

table
  border-collapse collapse
  margin 1rem 0
  display: block
  overflow-x: auto

tr
  border-top 1px solid #dfe2e5
  &:nth-child(2n)
    background-color lighten($bg-color, 10%)

th, td
  border 1px solid $borderColor
  padding .6em 1em

.go-to-top
  color: $accentColor !important
  &:hover
    color: lighten($accentColor, 30%) !important


.theme-container
  &.sidebar-open
    .sidebar-mask
      display: block
    &.no-navbar
    .content:not(.custom) > h1, h2, h3, h4, h5, h6
        margin-top 1.5rem
        padding-top 0
    .sidebar
      top 0

.tabs-component-panels, .tabs-component-tab-a
  background-color $bg-color
  font-size 1rem

.tabs-component-tab-a
  &:hover
    color $accentColor
    font-weight revert
    a
      text-underline none !important

.tabs-component-tab.is-disabled *
  color darken($textColor, 30%)

mjx-container[jax="SVG"] > svg
  font-size: 1.2em

mjx-container[jax="SVG"] > svg
  &:hover
    color black
    background-color: #ffffff

@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none
    .page
      padding-left 0

@require 'mobile.styl'
