.search-box
  input
    //width: 300px !important
    border-color desaturate(lighten($bg-color, 30%), 30%) !important
    background-color #2a2a2a !important
    color desaturate(lighten($accentColor, 20%), 20%) !important
    margin-right 20px
    &.focused
      border-color: $accentColor !important

  .suggestions
    background-color desaturate(lighten($bg-color, 15%), 10%) !important
    border 0 !important
    font-size 14px

  .suggestion
    background-color: desaturate(lighten($bg-color, 15%), 10%) !important

    &.focused
      text-color desaturate(lighten($accentColor, 10%), 10%) !important
      background-color #1e1e1e !important
      a
        color: $accentColor !important