$accentColor = #0076fc
$textColor = #ababab
$borderColor = #ababab
$codeBgColor = #1c1c1c;
$codeColor = #fc52fb
$arrowBgColor = $accentColor
$nprogressColor = $accentColor
$blockquote = cyan
$bg-color = #151515
$urlColor = #ffffff
$contentWidth = 1000px